name: Manual Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Choose the branch to deploy'
        required: true
        default: 'main'  # 預設選擇的分支

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}  # 使用選擇的分支


      - name: Install aws command
        run: |
          set -x
          if [ "${{ runner.arch }}" = "X64" ]; then
            ARCH_TYPE="x86_64"
          elif [ "${{ runner.arch }}" = "ARM64" ]; then
            ARCH_TYPE="aarch64"
          else
            echo "Unsupported architecture: ${{ runner.arch }}"
            exit 1
          fi
          sudo curl "https://awscli.amazonaws.com/awscli-exe-linux-${ARCH_TYPE}.zip" -o "awscliv2.zip"
          sudo unzip awscliv2.zip > /dev/null
          sudo ./aws/install --update
          
          aws --version
          sleep 20

