name: Manual Trigger Workflow

on:
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}  # 使用選擇的分支


      - name: Install aws command
        run: |
          echo ${{ github.event.pull_request.draft }}

